name: Continuous Integration
on: [push]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: cd backend
      - run: npm ci
      - run: npm run build
      - run: echo "Backend compiled successfully!"
